<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each posts}}
        <li class="list-group-item card">
          <div class="card-body">
            <div class="voter d-flex justify-content-between align-items-center">
              <form class="vote-up" data-id="{{this._id}}">
                <button class="arrow arrow-up btn-outline-info" type="submit"></button>
              </form>
              <p class="vote-score">{{this.voteScore}}</p>
              <form class="vote-down" data-id="{{this._id}}">
                <button class="arrow arrow-down btn-outline-danger" type="submit"></button>
              </form>
            </div>
            <div>
              <div class="text-end">
                <a href="/n/{{this.subreddit}}">/n/{{this.subreddit}}</a>
                <small class="author-name">• Posted by {{ this.author.username }}</small>
              </div>
              <div class="card-title">
                <a href="/posts/{{this._id}}">{{this.title}}</a>
              </div>
              <a class="card-description" href="{{this.url}}" target="_blank">{{this.url}}</a>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
